* {
  box-sizing: border-box;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #262626;
}

canvas {
  border: 2px solid #757575;
}
